<%= content_for :page_title do %> Tasks <%end%>
<% content_for :pre_content do %>
  <div class="flex items-center justify-end mb-4">
    <div class="flex items-center space-x-2">
      <%= link_to new_task_path, {
        class: "btn-primary-sm-outline"
      } do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block size-4 mr-1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
        New Task
      <% end %>
    </div>
  </div>
<% end %>
<div class="p-4 md:p-8 bg-white rounded-3xl">
  <% if false %>
    <%= form_tag(admin_dashboard_users_path, method: :get, class: "flex mb-8") do %>
      <%= text_field_tag(:search, params[:search], class: "w-full shadow-sm rounded px-3 border border-gray-black bg-slate-50 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500", placeholder: "Search by email" ) %>
      <%= submit_tag("Search", :id => "button", :class => "ms-4 btn-primary") %>
    <% end %>
  <% end %>
  <% if @tasks.empty? %>
    <div class="flex space-y-4 flex-col justify-center border rounded-xl  p-6">
      <h2 class="text-gray-800 font-semibold text-lg text-center">
        Looks like you don't have tasks yet.
      </h2>
      <p class="text-center">Start by creating your first task</p>
      <p class="text-center">
        <%= link_to "New Task", new_task_path, class: "btn-primary-outline" %>
      </p>
    </div>
  <% else %>
    <ul class="">
      <li class="py-3 flex items-center border-b">
        <p class="w-[200px] font-semibold">Title</p>
        <p class="w-[200px] font-semibold">Status</p>
        <p class="w-[200px] font-semibold">Task Type</p>
      </li>
      <%= render @tasks %>
    </ul>
  <% end %>
</div>